#event-log {
  z-index: 1000;
  background: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  padding: 15px;
}

#event-log ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
